1. Variabel dan Tipe Data
a. Buat 3 variabel bertipe data: int, float, str, dan list.
b. Tampilkan tipe datanya dengan fungsi type().

2. List dan Manipulasi
a. Buat list belanja (beras, minyak, dan telur).
b. Kemudian tambahkan item gula dan kopi menggunakan
fungsi.
c. Tampilkan semua item dengan perulangan.

3. Dictionary
a. Buat dictionary harga belanjaan:
i. beras: 12.000
ii. minyak: 17.000
iii. telur: 24.000
iv. gula:15.000
v. kopi:20.000
b. Hitung dan tampilkan total harga semua belanjaan.

4. Fungsi
a. Buat fungsi untuk menghitung luas persegi panjang yang
mengembalikan nilai luas dan keliling dari persegi panjang..

5. Percabangan
a. Minta pengguna memasukkan usia, tampilkan:
i. “Anak” jika usia 0-13
ii. “Remaja” jika usia 14-24
iii. “Dewasa” jika usia 25-49
iv. “Lansia” jika usia >50

In [9]:
#1
Number = 7
type(Number)

int

In [11]:
Desimal = 7.5
type(Desimal)

float

In [13]:
Nama = "Althaf"
type(Nama)

str

In [17]:
List = [ "Althaf", 1, "Sekolah" ]
type(List)

list

In [21]:
#2
Belanja = ["Telur", "Beras", " Minyak"]
print("List Belanja Awal : ", Belanja )

List Belanja Awal :  ['Telur', 'Beras', ' Minyak']

In [27]:
Belanja.append ("Gula")
Belanja.append ("kopi")

print("List Belanja Baru :", Belanja)

List Belanja Baru : ['Telur', 'Beras', ' Minyak', 'Gula', 'kopi']

In [33]:
print("Daftar belanja:")
for belanja in Belanja:
    print("-", belanja)

Daftar belanja:
- Telur
- Beras
-  Minyak
- Gula
- kopi

In [43]:
#3
Harga = {
 "beras" : 12.000,
 "minyak": 17.000,
 "telur": 24.000,
 "gula":15.000,
 "kopi":20.000,
}

total_harga = sum(Harga.values())
print(total_harga)

88.0

In [47]:
#4
def persegi_panjang (panjang, lebar) :
    luas = panjang * lebar 
    keliling = 2 * (panjang + lebar)
    return luas, keliling

p = 7
l = 6

luas, keliling = persegi_panjang (p, l)

print("panjang : ", p)
print("lebar : ", l)
print("Luas persegi panjang :", luas)
print("Keliling Persegi panjang : ", keliling)

panjang :  7
lebar :  6
Luas persegi panjang : 42
Keliling Persegi panjang :  26

In [65]:
#5

Age = int(input( "Enter Your Age : "))

if Age>0 :
    if (Age <= 13) :
         print ("Children")
    elif (Age <= 24) :
         print("Teenager")
    elif (Age <= 49) :
         print("mature") 
    else :
        print("Older")
else:
    print("Enter valid input")

Enter Your Age :  16

Teenager